{% assign area = membership.area %}
{% assign organization = membership.organization %}
{% assign party = membership.party %}
{% assign person = membership.person %}

<li class="media">
  <div class="media-left">
    <a href="{{ person.url }}">
      {% if person.image %}
      <img src="{{ person.image }}" srcset="{{ person.image }}" alt="{{ person.name }}">
      {% else %}
      <img src="/images/person-210x210.jpg" alt="Person logo">
      {% endif %}
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{ person.url }}">{{ person.name }}</a></h4>
    <p>
      Constituency: <a class="listing__area" href="{{ area.url }}">{{ area.name }}</a> |
      Party: <a class="listing__party" href="{{ party.url }}">{{ party.name }}</a>
    </p>
  </div>
</li>
