<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sharing <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a  href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}&amp;t={{ page.name | cgi_escape }}"
          target="_blank"
          class="big-btn-text-fb"
          >Share on Facebook</a>

      <li>
        <a  href="https://twitter.com/share?via={{ site.twitter_username }}&amp;text={{ page.name | cgi_escape }}&amp;url={{ page.url | prepend: site.url | cgi_escape }}"
            target="_blank"
            class="big-btn-text-tw"
            >Share on Twitter</a>
      </li>

      <li>
        <a  href="{{ page.url }}#comments"
            class="big-btn-text-green"
            >
            Comments <span class="fb-comments-count"></span></a>
      </li>
  </ul>
</div>
