---
layout: default
---

{% assign organization = page %}

<div class="title-space">
  <div class="title-space__name">
    <h1>{{ organization.name }}</h1>
    <p>Political Party</p>
  </div>
</div>

<div class="profile-pic">
  {% if organization.image %}
    <img src="{{ organization.image }}" alt="{{ organization.name }}"/>
  {% else %}
    <img src="/images/organisation-210x210.jpg" alt="Organization logo"/>
  {% endif %}
</div>

<div class="profile-info">
  <div class="sidebar">
    {% include social.html %}
  </div>
</div>


<div class="large-container profile-bulk">

  <h2>Current Politicians Representing {{ organization.name }}</h2>

  <ul class="listing">
    {% for membership in organization.memberships %}
      {% include membership_item.html %}
    {% endfor %}
  </ul>

</div>
